<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page_8</title>
    <link href="static/css/music.css" rel="stylesheet">
</head>
<body class="container">
    <img class="image" src="static/image/saki saki.jpg">
    <audio src="static/audio/Batla_House__O_SAKI_SAKI_Video___Nora_Fatehi,_Tanishk_B,_Neha_K,_Tulsi_K,_B_Praak,_Vishal-Shekhar(256kbps).mp3" controls autoplay></audio>
    <a href="page7"><button>Previous</button></a>
    <a href="page9"><button>Next</button></a>
</body>
</html>