<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page_9</title>
    <link href="static/css/music.css" rel="stylesheet">
</head>
<body class="container">
    <img class="image" src="static/image/Bekhayali.jpg" width="100px">
    <audio autoplay controls src="static/audio/Bekhayali_Full_Song_Lyrics___Dhvani_Bhanushali___Female_Version___Kabir_Singh(256kbps).mp3"></audio>
    <a href="page8"><button>Previous</button></a>
    <a href="page10"><button>Next</button></a>
</body>
</html>